<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="DemoSuite">
    <test thread-count="1" parallel="classes" name="DemoTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.LoginTest" />
        </classes>
    </test>
</suite> <!-- Suite -->