<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="DemoSuite">
    <test thread-count="1" parallel="classes" name="Demo1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.Bai16" />
        </classes>
    </test>
    <test thread-count="1" parallel="classes" name="Demo2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.RegisterTest" />
        </classes>
    </test>
</suite> <!-- Suite -->